.row
    .col-xl-3.col-md-6
        sb-card-view-details(
            link='/dashboard',
            background='bg-primary'
        )
            .card-body Primary Card

    .col-xl-3.col-md-6
        sb-card-view-details(
            link='/dashboard',
            background='bg-warning'
        )
            .card-body Warning Card

    .col-xl-3.col-md-6
        sb-card-view-details(
            link='/dashboard',
            background='bg-success'
        )
            .card-body Success Card

    .col-xl-3.col-md-6
        sb-card-view-details(
            link='/dashboard',
            background='bg-danger'
        )
            .card-body Danger Card      
